<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.css">
</head>
<body>
    <div class="" style="vertical-align: middle">
        <div class="col-md-4" style="margin:auto">
            <div class="card mt-4">
                <img class="card-img-top mt-2" id="imgChW" src="/logo_Ch_W.svg" alt="Chaffing & Winnowing Logo" style="width: 25%; height: 25%; margin:auto">
                <div class="card-body">
                    <div class="form-group">
                        <div class="card-text" style="text-align: center">
                            Gracias por aceptar el certificado, esto ayudará a la extension a tener una conexión segura
                        </div>
                        <button id="btnSignin" type="button" class="btn btn-primary btn-block mt-4" onclick="window.close();">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>